<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}" ></link>
</head>
<body>
    {% for key, country_list in top_countries.items() %}
    <h3>Os paises que mais bebem {{ key }} </h3>
    <table class="table table-striped table-responsive table-bordered">
            <thead>
            <tr>

                {% for header in title %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
            </thead>
        <tbody>
        {% for row in country_list[:10] %}
            <tr>
                <td>{{ loop.index0 +1}}</td>
                <td>{{ row.country }}</td>
                <td>{{ row.beer_servings }}</td>
                <td>{{ row.spirit_servings }}</td>
                <td>{{ row.wine_servings }}</td>
                <td>{{ row.total_litres_of_pure_alcohol }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endfor %}
</body>
</html>